    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
        background-color: #d8d8d8;
    }

    .nav {
        background-color: #444444;
        height: 134px;
        margin: 0px;
    }

    .main {
        background-color: #efefef;
        margin: 0 70px;
        height: 745px;
        
    }

    .footer {
        background-color: #222222;
        height: 80px;
        margin: 0 70px;
    }

